        <a  data-toggle="collapse" href="javascript:;" data-target="#disclaimer" aria-expanded="false" aria-controls="disclaimer">
          About/Usage...
        </a>
        <div class="collapse" id="disclaimer">
            <div class="disclaimerbox ">
                <p>
                    CheckList Application (CLAPP) is used to work a checklist for flight simulation purposes only.
                </p>
                <p>
                    The checklists here are used specifically for flight simulation, and are adapted and not 100% accurate.
                </p>
                <p>
                    The Cold Start and the Closeout checklists are meant for my machine, so they are not intended to be 100% accurate.
                </p>
                <p>
                    If you would like to add a checklist, feel free to send it to me at dev at tiberiumsoftware dot com.
                </p>
            </div>
        </div>
        <p>
            &copy;2014-2015 Tiberium Software LLC. <br/>
            Version: 0.0.1
        </p>
