<form id="mainFormNg" >
    <div class="col-md-6 col-md-offset-3 mainPanel">
        <h1>Welcome to the CheckList tool.</h1>
        <hr/>
        <label for="sAircraft">Please select a checklist to load:</label>
        <select id="sAircraft" name="sAircraft" ng-model="mainForm.selectedAircraft"
                ng-options="aircraft.name for aircraft in aircraftOptions"
                ng-init="mainForm.selectedAircraft = aircraftOptions[0]">
        </select>
        <div class="row-fluid">
            <div class="coldComputerOption">
                <input type="checkbox" value="loadColdComputer" id="loadColdComputer" name="loadColdComputer" ng-model="mainForm.loadColdComputer"/>
                <label id="loadColdComputerLbl" for="loadColdComputer">&nbsp;</label>
                <span >Load Cold Computer Checklist?</span>
            </div>
        </div>

        <div class="row-fluid">
            <button type="button" class="btn mainSubmit pull-right" ng-click="checkListSelection(mainForm)">Go >></button>
        </div>
    </div>
    <div class="col-md-3">&nbsp;</div>
</form>
<div class="container-fluid col-md-6 col-md-offset-3 disclaimer">
        <clapp-disclaimer></clapp-disclaimer>
</div>
